.arrangeframes_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.arrangetext{
    margin-top: 6rem;
    padding-bottom: 40rem; /*isto não esta bem mas o botão estava a ser influenciado por outro css*/
}


.check_button img {
    width: 32px;
  
}
