.final_frames{
    position: relative;
    width: 80%;
    cursor: grab;
    transition: opacity 0.2s;
}
  
.final_frames:active {
    cursor: grabbing;
}

.framesimage{
    border-radius: 20px;
    border: 1px solid; 
    width: 100%;
}

.framestext{
    position: absolute;
    top: 0;
    left: 0;
    translate: -50% -50%;

}