@media only screen and (max-width: 768px) {
  .drawingpage {
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
  }


  .drawingpage_container {
    width: 150%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    transform: rotate(90deg);
  }

  .arrangetext {
    position: absolute;
    top: -1rem;
    left: 18rem;
    translate: -50% -50%;
  }



  img {
    width: 32px;
  }


  .btn-enter {
    width: 20%;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #e2e2e2;
    transform: rotate(90deg);
  }


  .buttons {  /*nao consigo por os botoes no outro lado :( */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transform: rotate(90deg)
  }

  .btn-brush, .btn-eraser, .btn-trash {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background: #E2E2E2;
  
  }

}

